@model TaxPayment.Common.User.UserViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<section class="section contact min-width " data-section="section6">
    <section class="vh-100 ">
        <div class="container py-5 h-100 overflow">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form asp-controller="Login" asp-action="Login" method="post" id="manage-login-detail">
                        <div class="divider d-flex align-items-center my-4 flex-center">
                            <p class="sign-in-title">Sign In</p>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Email"
                                   type="text"
                                   class="form-control"
                                   id="email"
                                   placeholder="Email"
                                   required="" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input asp-for="Password"
                                   type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password"
                                   required="" />
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

                        <div class="d-flex justify-content-around align-items-center my-4">
                            <a href="#!">Sign Up?</a>
                            <a href="#!">Forgot password?</a>
                        </div>


                        <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                           role="button">
                            Continue with Facebook
                        </a>
                        <a class="btn btn-primary btn-lg btn-block mb-4" style="background-color: #55acee" href="#!"
                           role="button">
                            Continue with Twitter
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </section>
</section>

