@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-3" style="margin-left:8%">
        <button type="button" class="btn pull-right" style="background-color:gainsboro" onclick="javascript:history.go(-1);"><i class="mdi mdi-arrow-left"></i> Back</button>
    </div>
</div>
<hr />

<section class="section-listing">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="nowrap" id="insurancePayment">
                    <thead>
                        <tr>
                            <th class="text-center">SN</th>
                            <th class="text-center">KYC Code</th>
                            <th class="text-center">Province</th>
                            <th class="text-center">Vechicle Category</th>
                            <th class="text-center">Company Name</th>
                            <th class="text-center">Insurance Rate</th>
                            <th class="text-center">Paid Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/Setup/InsurancePayment/insurancePayment.js" type="text/javascript"></script>
    <partial name="_AlertPartial" />
    <script type="text/javascript">
        $(function () {
            var taxPaymentManagement = InsurancePaymentManagement.insurancePayment();
            taxPaymentManagement.renderIndex();
        });
    </script>
    }



