@model TaxPayment.Common.InsurancePayment.InsurancePayementViewModel
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section contact min-width" data-section="section6">
    <div class="container vh-100">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Pay Insurance</h2>
                </div>
            </div>
            <div class="col-md-12">
                <form asp-controller="InsurancePayment" asp-action="AddInsurancePayemnt" method="post">

                    <div class="row">
                        <div class="col-6">
                            <fieldset>
                                <select asp-for="CompanyName" asp-items="@Model.InsuranceCompanyList" class="form-control dropdown" style="background-color: #414B5C; color: #fff;" id="sel1">
                                    <option>Choose Company</option>

                                </select>
                            </fieldset>
                        </div>
                        <div class="col-6">
                            <fieldset>
                                <select asp-for="Province" asp-items="@Model.ProvinceList" class="form-control dropdown" style="background-color: #414B5C; color: #fff;" id="sel1">
                                    <option>Choose Provience</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-6">
                            <fieldset>
                                <select asp-for="VechicleCategory" asp-items="@Model.VechicleCategoryList" class="form-control dropdown" style="background-color: #414B5C; color: #fff; " id="sel1">
                                    <option value="">Choose Vechicle Category</option>

                                </select>
                            </fieldset>
                        </div>
                        <div class="col-6">
                            <fieldset>
                                <input asp-for="VechicleNo" class="form-control" placeholder="Enter Vechile Number" />
                            </fieldset>
                        </div>
                        <br />
                        <div class="row" style="padding:20px">
                            <div class="col-md-6">
                                <img src="https://ictframe.com/wp-content/uploads/Nepal-Single-Payments.jpg" width="200" height="100" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" asp-for="BankCode" style="margin-top:30%" class="form-control" placeholder="Enter payment Detail" />
                            </div>
                        </div>
                    </div>
                    <div class="pay-now-btn">
                        <button>Pay Now</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

