<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @*<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"*@
          rel="stylesheet" />
    <title>Tax Pay</title>
    <!-- Bootstrap core CSS -->
    <link href="~/frontjs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/frontjs/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="~/frontjs/assets/css/templatemo-grad-school.css" />
    <link rel="stylesheet" href="~/frontjs/assets/css/owl.css" />
    <link rel="stylesheet" href="~/frontjs/assets/css/lightbox.css" />
    <link rel="stylesheet" href="~/frontjs/assets/css/style.css" />
</head>

<body>
    <!--header-->
    <header class="main-header clearfix nav-bar" role="header">
        <div class="logo">
            <a href="index"><em>Tax</em> Pay</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="/index.html">Home</a></li>
                <li class="has-submenu">
                    <a href="#">Calculate</a>
                    <ul class="sub-menu">
                        <li><a class="stretched-link" asp-controller="Calulate" asp-action="TaxCalulator">Tax</a></li>
                        <li><a asp-controller="Calulate" asp-action="PremiumCalulator">Insurance</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="btn-holder">
            <div class="main-button">
                <div class="scroll-to-section"><a asp-area="" asp-controller="Login" asp-action="Login">Login</a></div>
            </div>
            <div class="main-button">
                <div class="scroll-to-section"><a asp-area="" asp-controller="Login" asp-action="Register">Sign In</a></div>
            </div>
        </div>
    </header>


    @RenderBody()


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-copyright"></i> Copyright@2022 by Tax Pay</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/frontjs/vendor/jquery/jquery.min.js"></script>
    <script src="~/frontjs/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/frontjs/assets/js/isotope.min.js"></script>
    <script src="~/frontjs/assets/js/owl-carousel.js"></script>
    <script src="~/frontjs/assets/js/lightbox.js"></script>
    <script src="~/frontjs/assets/js/tabs.js"></script>
    <script src="~/frontjs/assets/js/video.js"></script>
    <script src="~/frontjs/assets/js/slick-slider.js"></script>
    <script src="~/frontjs/assets/js/custom.js"></script>
    
</body>
</html>
