<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    @*<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"*@
          rel="stylesheet" />
    <title>Tax Pay</title>
    <!-- Bootstrap core CSS -->
    <link href="~/newjs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/newjs/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="~/newjs/assets/css/templatemo-grad-school.css" />
    <link rel="stylesheet" href="~/newjs/assets/css/owl.css" />
    <link rel="stylesheet" href="~/newjs/assets/css/lightbox.css" />
    <link rel="stylesheet" href="~/newjs/assets/css/style.css" />
        @RenderSection("styles", false)

</head>

<body>
    <!--header-->
    <header class="main-header clearfix nav-bar" role="header">
        <div class="logo">
            <a href="index"><em>Tax</em> Pay</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="/index.html">Home</a></li>
                <li class="has-submenu">
                    <a href="#">Calculate</a>
                    <ul class="sub-menu">
                        <li><a href="/pages/Calculator.html">Tax</a></li>
                        <li><a href="#">Insurance</a></li>
                    </ul>
                </li>
                  <li class="has-submenu">
                    <a href="#">Payment</a>
                    <ul class="sub-menu">
                        <li><a href="/pages/Calculator.html">Tax</a></li>
                        <li><a href="#">Insurance</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="btn-holder">
            <ul class="main-menu">
                <li class="has-submenu">
                    <a href="#">
                        <img class="rounded-circle"
                             style="width: 35px; margin-right: 10px"
                             alt="avatar1"
                             src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
                        Naina
                    </a>
                    <ul class="sub-menu">
                        <li><a asp-controller="User" asp-action="Profile">Profile</a></li>
                        <li><a asp-controller="KYCDetail" asp-action="ManageKycDetail">KYC Form</a></li>
                        <li><a asp-controller="VechicleRegistration" asp-action="Index">Registration</a></li>
                        <li><a asp-controller="User" asp-action="Logout">LogOut</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>


    @RenderBody()


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><i class="fa fa-copyright"></i> Copyright@2022 by Tax Pay</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
     <!-- Bootstrap core JavaScript -->
    <script src="~/newjs/vendor/jquery/jquery.min.js"></script>
    <script src="~/newjs/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/newjs/assets/js/isotope.min.js"></script>
    <script src="~/newjs/assets/js/owl-carousel.js"></script>
    <script src="~/newjs/assets/js/lightbox.js"></script>
    <script src="~/newjs/assets/js/tabs.js"></script>
    <script src="~/newjs/assets/js/video.js"></script>
    <script src="~/newjs/assets/js/slick-slider.js"></script>
    <script src="~/newjs/assets/js/custom.js"></script>
    @RenderSection("scripts", false);
    @RenderSection("scriptsPartial", false);
</body>
</html>
