
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section contact min-width" data-section="section6">
    <div class="container">
        <div class="margin-50">
            <div class="cont-profile ">
                <div class="profile-image ">
                    <img class="rounded-circle"
                         alt="avatar1"
                         src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
                    <div class="verified-btn">
                        <img class="rounded-circle"
                             style="width: 35px; margin-right: 10px"
                             alt="avatar1"
                             src="~/newjs/assets/images/Checkmark-green-tick-isolated-on-transparent-background-PNG.png" />
                    </div>
                </div>
                <div class="profile-container">
                    <div class="title-kyc font-h1">General Information</div>
                    <div class="text-left">
                        <Span>Name : Naina Thapa</Span>
                    </div>
                    <div class="text-left">
                        <Span>Address : Naina Thapa</Span>
                    </div>
                    <div class="text-left">
                        <Span>Email : Naina Thapa</Span>
                    </div>
                    <div class="text-left">
                        <Span>Phone Number  : Naina Thapa</Span>
                    </div>

                </div>
            </div>
            <div class="kyc-data sub-title">
                <div class="title-kyc font-h1 kyc ">KYC Information</div>
                <div class="row mt-5">
                    <div class="text-left col-md-4">
                        <Span>Vechile Type : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <Span>Vechile Number : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <Span>Registered Date : Naina Thapa</Span>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="text-left col-md-4">
                        <Span>Company Name : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <Span>Vechile Model : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <Span>Modification Date : Naina Thapa</Span>
                    </div>
                </div>
                <div class="title-kyc font-h1 mt-51">Citizenship Information</div>
                <div class="row mt-5">
                    <div class="text-left col-md-4">
                        <Span>Citizenship Number : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <img src="~/newjs/assets/images/courses-01.jpg" alt="">
                    </div>
                    <div class="text-left col-md-4">
                        <img src="~/newjs/assets/images/courses-02.jpg" alt="">
                    </div>
                </div>
                <div class="title-kyc font-h1 mt-51">Tax Information</div>
                <div class="row mt-5">
                    <div class="text-left col-md-4">
                        <Span>Last Paid Date From : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <Span>Last Paid Date To : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <img src="~/newjs/assets/images/courses-01.jpg" alt="">
                    </div>
                </div>
                <div class="title-kyc font-h1 mt-51">Other Information</div>
                <div class="row mt-5">
                    <div class="text-left col-md-4">
                        <Span>Vechile Power : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <Span>Color : Naina Thapa</Span>
                    </div>
                    <div class="text-left col-md-4">
                        <Span>Engin Number : Naina Thapa</Span>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="text-left col-md-4">
                        <img src="~/newjs/assets/images/courses-01.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

