@model TaxPayment.Common.TaxPayement.TaxPayementViewModel
@{
    ViewData["Title"] = "PremiumCalulator";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<section class="section contact min-width" data-section="section6">
    <div class="container vh-100">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Pay Insurance</h2>
                </div>
            </div>
            <div class="col-md-12">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-6">
                            <fieldset>
                                <select class="form-control dropdown" asp-for="VechicleCategory" style="background-color: #414B5C; color: #fff; " id="sel1">
                                    <option>Choose Vechicle Category</option>
                                    <option value="Bike">Bike</option>
                                    <option value="Car">Car</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-6">
                            <fieldset>
                                <select class="form-control dropdown" style="background-color: #414B5C; color: #fff;" id="sel1">
                                    <option>Choose Company</option>
                                    <option>ABC</option>
                                    <option>XYZ</option>
                                    <option>ROS</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-6">
                            <fieldset>
                                <select class="form-control dropdown" asp-for="Province" style="background-color: #414B5C; color: #fff;" id="sel1" onChange="calculate()">
                                    <option>Choose Provience</option>
                                    <option value="1">Province 1</option>
                                    <option value="2">Province 2</option>
                                    <option value="3">Province 3</option>
                                    <option value="4">Province 4</option>
                                    <option value="5">Province 5</option>
                                </select>
                            </fieldset>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-6">
                            <fieldset>
                                <input name="rate"
                                       type="text"
                                       class="form-control"
                                       id="rate"
                                       placeholder="Insurance Rate"
                                       required="" />
                            </fieldset>
                        </div>
                    </div>
                    <div class="pay-now-btn">
                        <button>Calculate Now</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

