
@model TaxPayment.Common.VechicleRegistration.RegistrationViewModel
@{
    ViewData["Title"] = "ManageVechicleRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section contact min-width" data-section="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Register Here</h2>
                </div>
            </div>
            <div class="col-md-12">
                <form asp-controller="VechicleRegistration" asp-action="AddVechicleRegistration" method="post" enctype="multipart/form-data">
                    <div class="title-kyc">Vechile Details</div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <fieldset>
                                    <select class="form-control dropdown" asp-for="VechicleType" style="background-color: #414B5C; color: #fff;" id="sel1">
                                        <option>Vechile Type</option>
                                        <option value="Car">Car</option>
                                        <option value="Bike">Bike</option>
                                    </select>
                                </fieldset>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="VechicleNumber"
                                       type="text"
                                       class="form-control"
                                       id="vhumber"
                                       placeholder="Vechile Number"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="RegisteredDate"
                                       type="text"
                                       class="form-control"
                                       id="resDate"
                                       placeholder="Registered Date"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="CompanyName"
                                       type="text"
                                       class="form-control"
                                       id="comName"
                                       placeholder="Company Name"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="VechicleModel"
                                       type="text"
                                       class="form-control"
                                       id="vModel"
                                       placeholder="Vechile Model"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="DateOfModification"
                                       type="date"
                                       class="form-control"
                                       id="modificationDate"
                                       placeholder="Date of Modification"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="Ownername"
                                       type="text"
                                       class="form-control"
                                       id="ownerName"
                                       placeholder="Owner Name"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="FrontPageImage"
                                       type="file"
                                       class="form-control"
                                       id="image"
                                       
                                       style="display:none;" />
                                <label for="image" class="file-selector">Upload your photo</label>
                                <a href="https://www.youtube.com/" target="_blank">View</a>
                               
                            </fieldset>
                        </div>
                    </div>

                    <div class="title-kyc">Tax Information</div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="LastTaxPaidDateFrom"
                                       type="date"
                                       class="form-control"
                                       id="LastpaidDatefrom"
                                       placeholder="Last Paid Date From"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="LastTaxPaidDateTo"
                                       type="date"
                                       class="form-control"
                                       id="LastpaidDateTo"
                                       placeholder="Last Paid Date To"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="TaxPaidImage"
                                       type="file"
                                       class="form-control"
                                       id="taximage"
                                       
                                       style="display:none;" />
                                <label for="taximage" class="file-selector">Upload Tax Slip</label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="title-kyc">Other Information</div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="VechiclePower"
                                       type="text"
                                       class="form-control"
                                       id="Vechile-power"
                                       placeholder="Vechile Power"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="Color"
                                       type="text"
                                       class="form-control"
                                       id="color"
                                       placeholder="Vechile Color"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="EngineNumber"
                                       type="text"
                                       class="form-control"
                                       id="Engine Number"
                                       placeholder="Vechile Engine Number"
                                        />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input asp-for="VechicleInfoImage"
                                       type="file"
                                       class="form-control"
                                       id="Vechile-image"
                                       
                                       style="display:none;" />
                                <label for="Vechile-image" class="file-selector Vechile">Uplode Vechile Image</label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="pay-now-btn">
                        <button>Register Details</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
